body {
  background-color: #60CCC2;
  
}

#workTime, #breakTime {
  margin-top: 25px;
  font-size: 20px;
}

#workTime {
  color: green;
}

#breakTime{
  color: red;
}

#displayTime{
  color: green;
}

#stop {
  margin-top: 18px;
}

.key {
  cursor: pointer;
}