body {
  background: #A9E7F8;
}

.image-border {
  border-radius: 50% 5% 50% 5%;
  height: 15%;
  width: 15%;
  margin: 0 auto;
}

.about {
  background: #A8FBAD;
  font-size: 15px;
  height: 100%;
}

.portfolio {
  background: #FFD5AA;
}

.contact {
  background: #B2B9FA;
}

.footer {
  color: #FFFFFF;
}

.img-thumbnail {
  max-height: 346px;
  max-width: 200px;
}

.linkedin {
  margin-left: 12%;
}

.title-text {
 margin-bottom: 3%; 
}